{% assign locale = site.data.site.locales[page.lang] %}
<ul class="news-list" id="news-list">
    {% for item in site.data.news %}
    <li{% if item.more %} class="more-news"{% endif %}>{{ item.html }}</li>
    {% endfor %}
</ul>
<button id="more-news-btn" class="more-button" type="button" aria-expanded="false" aria-controls="news-list">{{ locale.more_news }} <i class="fas fa-chevron-down" aria-hidden="true"></i></button>
<!-- // [
//   {
//     "more": false,
//     "html": "[2026.08] Awarded the Young Scientists Fund of the National Natural Science Foundation of China (NSFC)."
//   },
//   {
//     "more": false,
//     "html": "[2026.03] Invited to serve as a Youth Editorial Board Member for <a href=\"https://www.sciopen.com/journal/2097-194X\" target=\"_blank\"><em>CAAI Artificial Intelligence Research</em></a>."
//   },
//   {
//     "more": false,
//     "html": "[2025.12] Awarded the Young Scientists Fund of the Beijing Natural Science Foundation."
//   }
// ] -->